[Desktop Entry]
Name=Blender Launcher V2
GenericName=Launcher
Exec=/app/bin/BlenderLauncher
Terminal=true
Icon=io.github.VictorIX.BlenderLauncherV2
Type=Application